if SHIELD_PEPPAKBD_DONGLE

config ZMK_KEYBOARD_NAME
    default "peppakbd"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_PEPPAKBD_DONGLE || SHIELD_PEPPAKBD_LEFT || SHIELD_PEPPAKBD_RIGHT

config ZMK_SPLIT
    default y

endif